@import "tailwindcss";

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

@theme {
  --color-black-100: #000319;
  --color-portfolio-headings: #203e5f;
  --color-portfolio-content: white;
}

@layer components {
  .hero-btns {
    @apply transition-all duration-300 ease-in-out border-2 text-lg border-[#00aaa0] px-8 py-1 mr-5 rounded font-semibold hover:bg-[#00aaa0] hover:text-white;
  }
}

.contact-input {
  @apply capitalize w-full border-b border-white outline-none px-1;
}

.contact-input:focus {
  @apply border-b-2 border-[#00aaa0];
}

.portfolio-headings {
  @apply p-1 pl-2 text-2xl font-semibold bg-portfolio-headings mb-2 text-white;
}

.portfolio-content {
  @apply text-portfolio-content text-lg;
}