@import "tailwindcss";

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

@theme {
  --color-black-100: #000319;
}

@layer components {
  .hero-btns {
    @apply transition-all duration-300 ease-in-out border-2 text-lg border-[#49beb7] px-5 py-2 mr-5 rounded  hover:bg-[#49beb7] hover:text-[#3b4a6b];
  }
}
